@import "tailwindcss";

@theme {
  /* Paleta de Colores */
  --color-background: #121212;
  --color-foreground: #e0e0e0;

  /* Acento Principal */
  --color-primary: #6647A9;
  --color-primary-hover: #53398f;

  /* Estados y Superficies */
  --color-surface: #1e1e1e;
  --color-border: #333333;
  --color-dev: #00ff9d;
  /* Color verde neón para indicadores de DevMode */

  /* Tipografías */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
}

/* Base Styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Utilidades Custom para DevMode */
.dev-border {
  border: 1px dashed var(--color-dev);
  position: relative;
}

.dev-label {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: var(--color-dev);
  color: #000;
  font-family: var(--font-mono);
  font-size: 0.65rem;
  padding: 2px 6px;
  font-weight: bold;
  z-index: 50;
  text-transform: uppercase;
}